/* .d-flex {
  display: flex;
}

.container {
  padding: 0 4rem;
} */

.j-center {
  justify-content: center;
}

.f-col {
  flex-direction: column;
}

.m-t {
  margin-top: 2rem;
}

.p-bottom {
  padding-bottom: 1.2rem;
}

.form-control input {
  padding: 12px 16px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 17px;
}

.form-control {
  border: none;
}
